In [ ]:
1. What are data structures, and why are they important?
  ->Way of organinzing and storing data sp that it can be accessed and manipulated effeciently.
      eg- string , list,set,tuple , dictionary.

In [ ]:
2. Explain the difference between mutable and immutable data types with examples?
-> Mutable data are those data which are changeable/modified after they created while immutable are those whose values cannot be changed
    eg of mutable data type = list , sets , dictionaries .
    Eg of immutable data types = strring, tuples , etc

In [ ]:
3. What are the main differences between lists and tuples in Python?
 -> List= list is any order collection of data/ element that can be of any type , list are mutable 
    Tuples= tuples are ordered collection of element that can be heterogenous , but tuple is immutable.

In [ ]:
4. Describe how dictionaries store data? 
  -> It is a data sturtucture that store data as key value pair.
      keys are unique and immutable.
      They are unordered .

In [ ]:
5. Why might you use a set instead of a list inPython ?
  -> Instead of list we use sets because sets are unordered and unique collection of elements, doesn't allow duplicate elements .
     Unordered indexing will not work.

In [ ]:
6. What is a string in Python, and how is it different from a list?
  -> String = It is a sequence of character represent and manipulated textual data. 
      Character are represent using numeric values each charcter is assigned a unquie encoding .
      string enclose in quotes (") while list in square brackets[]. string can be immutable while list is mitable.

In [ ]:
7. How do tuples ensure data integrity in Python?
 -> Tuples ensure data integrity by being immutable. Their contents cannot be altered after creation.

In [ ]:

8. What is a hash table, and how does it relate to dictionaries in Python?
  -> A hash table is data structure that stores data in key value pairs . 
      In dictionaries are implemented using hash table and same data store in key value pair.

In [ ]:
9. Can lists contain different data types in Python?
  -> List in python can contain elements of different types. List store hetergenous data. 
      Eg= grocery_list = ["Milk","orange",1,2.2,True,3+5j]

In [ ]:
10. Explain why strings are immutable in Python.
  -> String is immutable in python their content can not be changed.
      Immutablity ensure Security and Predictability,Thread safety,Performance optimization.

In [ ]:
11. What advantages do dictionaries offer over lists for certain tasks?
   -> dictionaries stores value in key value pair keys are unique and immutable where data are secure,
      and in case of keys their value stores but value can be mutable but key is immutable  while list store data that are mutable and changed.

In [7]:
#12. Describe a scenario where using a tuple would be preferable over a list.
   # If u store a data which u cannot want to be changed/ modified so use tuple instead of list.
tuple1 = ("pwskills",1,1,1,2,2,2.2)
tuple1.count(1)

3

In [9]:
#13. How do sets handle duplicate values in Python?
#-> Sets doesnt allow duplicate elements. sets contain unique elements and duplicate elements are ignored and dose not allow in sets.
s= {1,2,1,2,"ajay","bijay","ajay","bijay"}
s

{1, 2, 'ajay', 'bijay'}

In [12]:
#14. How does the "in" keyword work differently for lists and dictionaries?
 # -> in checks membership but it work diffently for list and dictionaries
   #  List
grocery_list=["milk","orange",1,2.2,True,(3+5j)]
"milk" in grocery_list
   # dictionaries 
my_dict= {"a":5,"b":9}
print("a" in my_dict)

True

In [ ]:
15. Can you modify the elements of a tuple? Explain why or why not.
  -> No, you cannot modify the elements of a tuple because tuples are immutable in Python.
     Once a tuple is created, its contents cannot be changed (no item assignment, addition, or deletion).
    This immutability makes tuples suitable for use as keys in dictionaries or elements of sets, unlike lists.
T=(1,2,5)
T(0)=15

In [18]:
#16. What is a nested dictionary, and give an example of its use case?
#-> nested dictionary is a dictionary where the value of one or more keys is another dictionary.
 #  Use case example: Student id
sudents = {
    "101": {"name": "Alice", "age": 20},
    "102": {"name": "Bob", "age": 21}
}

# Accessing nested data
print(students["101"]["name"])

NameError: name 'students' is not defined

In [19]:

17. Describe the time complexity of accessing elements in a dictionary.
  -> Accessing elements in a dictionary is O(1) on average.

This is because dictionaries use a hash table internally.

Worst-case time complexity can go up to O(n) if there are many hash collisions, but that's rare.

SyntaxError: invalid syntax (986793199.py, line 1)

In [ ]:
8. In what situations are lists preferred over dictionaries?
  -> You care about order and sequence of items.
     You only need values, not key-value pairs.
     You frequently perform index-based access or iteration.
     Example use cases:
    Storing a list of student names: ["ajay", "biajy","nikku", "Charlie"]

In [ ]:
19. Why are dictionaries considered unordered, and how does that affect data retrieval?
   -> Dictionaries are unordered but from python 3.7 version , dictionaries retain the order of insertion.
       This means that if you iterate over a dictionary the items will be returned in the ordered were added.

In [ ]:
20. Explain the difference between a list and a dictionary in terms of data retrieval.
   -> Lists retrieve elements based on their numerical index (position) while dictionaries retrieve elements based on their unique keys.

In [ ]:
   #   Practical question

In [20]:
#1. Write a code to create a string with your name and print it.
name="Nikku mishra"
print(name)

Nikku mishra

In [23]:
#2. Write a code to find the length of the string "Hello World".
s="Hello World "
print(len(s))

12

In [30]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "tata moters"
string[:3]

'tat'

In [31]:
#4. Write a code to convert the string "hello" to uppercase.
text= "hello"
print(text.upper())

HELLO

In [32]:
#5. Write a code to replace the word "apple" with "orange" in the string like apple".
s="apple"
s.replace("apple","orange")

'orange'

In [33]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
numbers=[1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [37]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
numbers=[1,2,3,4]
numbers.append(10)
numbers

[1, 2, 3, 4, 10]

In [38]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers=[1,2,3,4,5]
numbers.remove(3)
numbers

[1, 2, 4, 5]

In [43]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd
text= ['a','b','c','d']
text[1]

'b'

In [47]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50)
numbers=[10,20,30,40,50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [1]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100,200,300)
print(t)

(100, 200, 300)

In [6]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t= ('red','green','blue','yellow')
t[2]

'blue'

In [7]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t=(10,20,5,15,)
min(t)

5

In [8]:
#14. Write a code to find the index of the element "cat" in the tuple (dog', 'cat', 'rabbit')
t=("dog","cat","rabbit")
t.index("cat")

1

In [9]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits=("apple","kiwi","mango")
"kiwi" in fruits

True

In [10]:
#16. Write a code to create a set with the elements a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)

{'c', 'b', 'a'}

In [11]:
#17. Write a code to clear all elements from the set (1, 2, 3, 4, 5].
s={1,2,3,4,5}
s.clear

In [14]:
#18. Write a code to remove the element 4 from the set (1, 2, 3, 4).
s={1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

In [15]:
#19. Write a code to find the union of two sets (1, 2, 3) and (3, 4, 5).
s1= {1,2,3}
s2={3,4,5}
s1|s2

{1, 2, 3, 4, 5}

In [16]:
#20. Write a code to find the intersection of two sets (1, 2, 3} and {2, 3, 4).
s1= {1,2,3}
s2={2,3,4,}
s1&s2

{2, 3}

In [18]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name":"Niku","age":"23","city":"gorkhaphur"}
d

{'name': 'Niku', 'age': '23', 'city': 'gorkhaphur'}

In [22]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary (name: John, age: 25).
d={"name":"john","age":"25","country":"USA"}
d

{'name': 'john', 'age': '25', 'country': 'USA'}

In [23]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', age:30}
d={"name":"alice","age":"30"}
d['name']

'alice'

In [25]:
#24. Write a code to remove the key 'age' from the dictionary ('name': 'Bob, 'age': 22, city: "New York').
d={"name":"bob","age":"22","city":"new york"}   
del d ["age"]
d

{'name': 'bob', 'city': 'new york'}

In [26]:
#25. Write a code to check if the key "city" exists in the dictionary ('name': 'Alice', 'city: Paris)
d={"name":"Alice","city":"Paris"}
"city" in d

True

In [27]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list= [5,10,20]
my_tuple=(50,70,60)
my_dict= {'a':1,'b':6,'c':10}
print(my_list,my_tuple,my_dict)

[5, 10, 20] (50, 70, 60) {'a': 1, 'b': 6, 'c': 10}

In [29]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result. (replaced)
numbers=list (range(1,99,5))
numbers.sort()
print(numbers)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

In [32]:
#28. Write a code to create a list with strings and print the element at the third index.
list=["apple","orange","mango","potato","pea"]
print(list[0:4])

['apple', 'orange', 'mango', 'potato']

In [35]:
#29. Write a code to combine two dictionaries into one and print the result.
d1={'name':'niku','age':'22','city':'delhi'} 
d2={'name':'appu','age':'22','city':'ekma'}
combined={**d1,**d2}
print(combined)

{'name': 'appu', 'age': '22', 'city': 'ekma'}

In [37]:
#30. Write a code to convert a list of strings into a set
list=["apple","mango","pea"]
set=set(list)
print(set)

{'apple', 'mango', 'pea'}